@charset "UTF-8";
/*	CSS Document 
	Mobile Porfolio Prototype
	V. 1.0
	Author: Chris Allison
*/

/*======= Set App Background ========*/
#home, #resume, #gallery, #contact, #social, #details {
	background-image:url(../imgs/stacked_circles.png);
	font-family:Tahoma, Geneva, sans-serif;
}
/*======= Header styles ========*/
header {
	display:block;
	height:47px;
	background-image:url(../imgs/header_bg.png);
	background-repeat:repeat-x;
	margin-top:-2px;
}
header img {
	margin-top:12px;
}
header p {
	margin:0;
	padding:0;
	text-align:center;	
}
/*======= Custom Icon styles ========*/
.resume .ui-icon {
	background:url(../imgs/tab_nab_03.png) 50% 50% no-repeat;
	background-position:top center;
}
.gallery .ui-icon {
	background:url(../imgs/tab_nab_05.png) 50% 50% no-repeat;
	background-position:top center;
}
.hatch .ui-icon {
	background:url(../imgs/tab_nab_07.png) 50% 50% no-repeat;
	background-position:top center;
}
.contact .ui-icon {
	background:url(../imgs/tab_nab_09.png) 50% 50% no-repeat;
	background-position:top center;
}
.social .ui-icon {
	background:url(../imgs/tab_nab_11.png) 50% 50% no-repeat;
	background-position:top center;
}
	/* background image active effect */
.active .ui-icon {
	background-position:bottom center;
	margin-top:-5px;
}
/*======= ui-btn active state ========*/
.active .ui-btn-inner { 
	background-image:url(../imgs/btn_bg_03.png);
}
/*======= Resets styles on Navbar ========*/
.noStyle{
	margin:0!important;
	height:46px;
}
.noStyle .ui-btn .ui-icon{
	width: 30px!important; 
	height: 30px!important; 
	margin-left: -15px !important; 
	box-shadow: none!important;
	border-radius: 0 !important;	 
	
	-moz-box-shadow: none!important; 
	-webkit-box-shadow: none!important; 
	-webkit-border-radius: 0 !important; 
}
.noStyle .ui-btn .ui-btn-inner { 
	font-size:11px;
}
/*======= Header image styles ========*/
.ui-content {
	padding:0;	
}
#headImg {
	width:100%;
	margin-top:-10px;
}
#headImg img {
	width:100%;
	-webkit-box-shadow:  0px 1px 4px 0px #888;        
	box-shadow:  0px 1px 4px 0px #888;
}
/*======= Twitter section styles ========*/
#quotes {
	margin:0 10px;
	overflow:hidden;
}
#quotes img {
	height:30px;
	width:40px;
	margin-top:12px;
}
.quote {
	font-size:12px;
	line-height:1.2em;
	color:#1363aa;
	width:80%;
	float:right;
	font-style:italic;
	font-weight:bold;
}
.quote span {
	font-size:14px;
	font-weight:bold;
}
/*======= CTA Nav styles ========*/
#ctaNav {
	position:relative;
	border-top:2px solid #86a240;
	border-bottom:2px solid #86a240;	
}
.navBtns {
	list-style-type:none;
	margin:-1px 0 6px -2px;
	padding:0;
}
.navBtns .active {
	background-position:0 -50px;
	margin-top:-1px;
}
.navBtns li {
	margin-bottom:-5px;
	width:50px;
}
.navBtns li a {
	display:block;
	width:51px;	
	height:50px;
	text-indent:-9999px;	
}
	/* button styles */
.ctaResume {
	background:url(../imgs/cta_nav_03.png) no-repeat;
	background-position:top center;	
}
.ctaGallery {
	background:url(../imgs/cta_nav_05.png) no-repeat;
	background-position:top center;	
}
.ctaContact {
	background:url(../imgs/cta_nav_07.png) no-repeat;
	background-position:top center;	
}
.ctaAd {
	width:100%;
	height:136px;
	max-height:136px;
	background-image:url(../imgs/cartographer.png);
	margin:-143px 2px 2px 50px;
}
.pics {   
    width: 100%;
	margin:0 10px;  
    padding: 0;  
}  
/*======= About Me styles ========*/
h2 {
	color:#1363aa;
	padding-left:10px;
	font-size:18px;
	margin-top:25px;
	
	text-shadow: 1px 1px 0px #ccc;
    filter: dropshadow(color=#ccc, offx=1, offy=1);	
}
.margin-fix {
	margin-bottom:-5px;	
}
#about p {
	font-size:15px;
	line-height:1.5em;
	padding:0 10px;	
}
#about .first {
	margin-top:-15px;	
}
.rezList {
	padding:15px 15px 0 15px;
}
.rezList li p {
	margin-top:5px;
}
/*======= Resume styles ========*/
	/* this is main profile image */
.resumeContent img {
	width:50%;
	padding:10px;	
}
.test{
	font-size:14px;
	line-height:1.5em;
	color:#555;
	padding:5px 15px;
	font-style:italic;
	border-bottom:1px inset #777;
}
.test:last-child {
	border-bottom:none;	
}
.test span {
	font-size:12px;
	color:#888;
	font-style:normal;
}
#mainInfo {
	position:absolute;
	right:20px;
	top:48px;
	width:40%;
}
.grad {
	color:#090;	
}
.prog {
	color:#F60;	
}
#mainInfo img {
	height:45px;
	width:45px;
	padding:0 4px;
	margin-bottom:-10px;
	margin-top:8px;	
}
#mainInfo h1, #mainInfo h2, #mainInfo h3, #mainInfo h4 {
	font-size:14px;
	line-height:1.5em;
	margin:5px 0 5px 5px;
	padding:0;
}
.ui-collapsible {
	margin-bottom:-8px;
}
.skills .first-ul {
	margin-top:-8px;
}
.skills .ui-btn-text {
	padding-left:5px;	
}
.skills img {
	height:50px;
	width:50px;
	margin:10px;
	margin-top:5px;	
}
.skills .ui-li {
	padding-top:30px;
	padding-bottom:0;
}
/*======= Social styles ========*/
#connect {
	margin-bottom:-10px;	
}
#connect li img {
	width:50px;
	height:50px;
	padding:1em 1em;
}
#connect ul {
	width:100%;
	margin:0;	
}
.connect {
	margin-top:-85px;
	margin-left:90px;
	padding-bottom:0;
}
.connect p {
	font-weight:700;
	font-size:11px;
	color:#09F;
}
/*======= Contact styles ========*/
#mssg {
	height:30%;
	margin-bottom:1em;	
}
.form {
	margin-left:1em;
	overflow:hidden;
	margin-bottom:45px;	
}
.form input, .form textarea {
	width:90%;	
}
.form label {
	margin-top:10px;
	margin-left:5px;	
}
.ui-submit, .ui-reset {
	width:125px;
	margin-left:10px;	
}
#response {
	width:90%;
	margin:0 auto;
	padding:0 20px;
	display:none;
}
#response p {
	font-size:12px;
	font-weight:bold;
	color:red;	
}
/*======= Gallery styles ========*/
#masonry {
	width:100%;
	padding:0 10px;	
}
#masonry .item img {
	width:145px;
}
#masonry .item .odd {
	width:300px;
}
#masonry .item a {
	display:block;
	margin:0;
	padding:0;	
}
.buttonGroup {
	width:180px;
	display:block;
	margin:10px auto -5px auto;
}
.imgGallery p {
	text-align:center;
	font-style:italic;
	color:#999;
}
/*======= Gallery Details styles ========*/
#thaDeets h3 {
	font-size:18px;
	color:#1363aa;
	text-align:center;
}
#thaDeets h4 {
	font-weight:bold;
	color:#999;
	padding-left:10px;
	margin-bottom:-12px;
	margin-top:28px;
}
#thaDeets img {
	-webkit-box-shadow:  0px 1px 4px 0px #888;        
	box-shadow:  0px 1px 4px 0px #888;
}
#thaDeets p {
	font-size:15px;
	line-height:1.5em;
	padding:5px 10px;
}